<form [formGroup]="form">
  <label>The Name</label>
  <app-select-control
    [options]="nameOptions"
    [formControl]="nameControl"
    (selectionChanged)="nameSelectionChanged($event)"
  ></app-select-control>
  <diV>{{nameControl.value}}</diV>
  <div>touched: {{nameControl.touched}}</div>
  <div>dirty: {{nameControl.dirty}}</div>
</form>

<li><b><a href="aorepo/">AORepo</a></b> - main channel, enabled by default - contains completed, coherent, and <a href="testing/">tested</a> packages.</li>

<iframe
src="https://www.googletagmanager.com/ns.html?id=GTM-L8ZB"
height="0"
width="0"
style="display: none; visibility: hidden"
></iframe>

<script>
public Class getCollectionValueType() {
		if(getActualType().isArray())
			return getActualType().getComponentType();
		else if(Collection.class.isAssignableFrom(getActualType())) {
			Type t = getActualGenericType();
			if(t == null)

      return null;
			return ClassUtil.findCollectionType(t);
		} else
			return null;
	}


  public static void delete(File file) {
		try {
			Files.delete(file.toPath());

    } catch(Exception x) {
			LOG.error("Failed to delete " + file + ": " + x, x);
		}
	}


  export async function checkLogTables() {
  const client = await connectClient(eqConfig);
  // Ensure the log tables exist; if not, create them
  try {
    await client.query('BEGIN');
    await client.query('CREATE SCHEMA IF NOT EXISTS logging');
    await client.query(
      `CREATE TABLE IF NOT EXISTS logging.etl_log
        (
          id SERIAL PRIMARY KEY,
          end_time timestamp,
          load_error varchar,
          start_time timestamp NOT NULL
        )`,
    );
    await client.query(
      `CREATE TABLE IF NOT EXISTS logging.etl_schemas
        (
          id SERIAL PRIMARY KEY,
          active BOOLEAN NOT NULL,
          creation_date TIMESTAMP WITHOUT TIME ZONE NOT NULL,
          schema_name varchar(20) NOT NULL
        )`,
    );
    await client.query(`GRANT USAGE ON SCHEMA logging TO ${eqUser}`);
    await client.query(
      `GRANT SELECT ON ALL TABLES IN SCHEMA logging TO ${eqUser}`,
    );
    await client.query('COMMIT');
    log.info('Logging tables exist');
  } catch (err) {
    log.warn('Failed to confirm that logging tables exist');
    await client.query('ROLLBACK');
    throw err;
  } finally {
    client.end();
  }
}




      </script>
